.features{
    grid-column: center-start/center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem,1fr));
    margin:15rem 0;
    grid-gap: 6rem;
    align-items: start;
    
}

.feature{
    display: grid;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: min-content 1fr;
    
    &-icon{
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1/ span 2;
        transform: translateY(-1rem);
        
    }
    &-text{
        font-size: 1.7rem;
        text-align: justify;
    }
    // grid-row: ;
    // grid-column:;
}