.steps{
    grid-column: 1/-1;
    text-align: center;
    background-image: url(../img/register-5.jpg);
    background-position: bottom left;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    padding-bottom: 25rem;
    @media only screen and (max-width:$bp-small) {padding-bottom: 23rem;}
    &-text{
        grid-column: 3/9;
        grid-row: 1/2;
        margin: 0 auto 3rem auto;
        width: 60%;
        h3{color: $color-primary;}
        @media only screen and (max-width:$bp-large) {width: 80%;}
        @media only screen and (max-width:$bp-medium) {grid-column: 2/10; margin-bottom: 0; width: 100%;}
    }
    &-cards{
        grid-column: 3/9;
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
        i{
            margin:3rem 0;
            @media only screen and (max-width:$bp-small) {margin: 1rem;}
        }
        justify-self: center;
        @media only screen and (max-width:$bp-larger) {
            grid-column: 2/10;
            justify-content: space-evenly;
        }
        @media only screen and (max-width:$bp-medium) {grid-column: 1/11;}
        @media only screen and (max-width:$bp-small) {flex-direction: column;}
    }
}