.footer{
    background-color: $color-secondary;
    grid-column: full-start/full-end;
    text-align: center;
    color: whitesmoke;
    font-size: 1.3rem;
    font-family: $font-display;
    font-weight: lighter;
    padding-bottom: 8rem;
    
    &-nav{
        width: 90%;
        margin: 8rem auto;
        display: flex;
        text-transform: uppercase;
        justify-content: space-evenly;
        flex-wrap: wrap;
        transition: all .3s;
        &-item{
            padding: 2rem;
            transition: all .3s;
            &:hover{
                background-color: $color-secondary-light;
                transform: translateY(-4px);
            }
        }

        &-link{
            text-decoration: none;
            color: inherit;
            transition: all .3s;
            &:hover{
                color: $color-grey-light-1;
            }
        }
    }
}