.header{
    // background-color: $color-grey-dark-1;
    background-image: linear-gradient(rgba($color-secondary,.9),rgba($color-secondary,.9)) , url(../img/hero.jpeg);
    background-position: center;
    background-size: cover;
    padding: 8rem;
    grid-column: full-start/col-end 6;
    @media only screen and (max-width:$bp-medium) {
        grid-column: full-start/full-end;
        background-attachment: fixed;
        padding:8rem 6rem;
    }
    @media only screen and (max-width:$bp-smaller) {padding:6rem 4rem;}
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h3{font-style: normal;}
    &-logo{
        height: 3rem;
        align-self: center;
    }
    &-brands{
        display: flex;
        justify-content: space-around;
        img{
            max-height: 2.3rem;
            max-width: 100%;
            filter: opacity(.7);
            @media only screen and (max-width:$bp-smaller) {max-height: 1.5rem;}   
        }
    }
    &-seenon-text{
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        font-size: 1.7rem;
        font-weight: 200;
        color: $color-grey-light-2;
        &::before,
        &::after{
            transform: translateY(1.5rem);
            content: "";
            width: 43%;
            height: 1px;
            display: block;
            background-color: currentColor;
            z-index: 20;
            @media only screen and (max-width:$bp-smaller) {width: 38%;}
        }
    }
}