
.header{
    position: relative;
    grid-column: 1/-1;
    min-height: 114vh;
    background-image: url(../img/hero-3.jpg);
    background-position: bottom left;
    background-size: cover;
    overflow: hidden;
    @media only screen and (max-width:$bp-largest) {min-height: 100vh;}
    @media only screen and (max-width:$bp-medium) {min-height: 80vh;}
    @media only screen and (max-width:$bp-small) {min-height: 100vh; background-image: url(../img/mobile-back3.jpg); background-position: center;}
    &-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 3rem;
        @media only screen and (max-width:$bp-medium) {padding: 1rem;}
        i{
            z-index: 10;
            font-size: 3rem;
            color: white;
        }
        a{ 
            @media only screen and (max-width:$bp-medium) {display: none;}
        }
    }
    &-logo{
        width: 100px;
        @media only screen and (max-width:$bp-small) {width: 90px;}
    }
    &-nav{
        display: flex;
        justify-content: space-between;
        flex: 0 0 40%;
        @media only screen and (max-width:$bp-large) {flex: 0 0 50%;}

        a{
            text-decoration: none;
            color: $color-grey-dark-2;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 2px;
            border-radius: 50%;
            transition: all .3s;
            &:hover{
                border-bottom: 2px  solid currentColor;
                padding-bottom: 1rem;
            }
        }
    }
    &-text-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 8%;
        margin-top: 10%;
        padding:2rem;
        width: 45rem;
        @media only screen and (max-width:$bp-medium) {
            width: 43rem;
            h1{font-size: 3rem;}
        }
        @media only screen and (max-width:$bp-small) {
            width: 32rem;
            padding-right:0;
            margin: auto;
            position: absolute;
            bottom: 10%;
            right: 0;
            h1{font-size: 4rem;}
        }
    }
}

.navigation{
    display: none;
    @media only screen and (max-width:$bp-medium) {display: block;}
    &-checkbox{
        display: none;
    }

    &-btn{
        background-color: white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow:0 1rem 4rem rgba(0, 0, 0, 0.486) ;
        cursor: pointer;
        @media only screen and (max-width:$bp-medium) {top: 2.2rem; right: 2.2rem;}

    }

    &-background{
        z-index: 1000;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-dark,$color-secondary);
        transition: all .5s ease-in;
        @media only screen and (max-width:$bp-medium) {top: 2.5rem; right: 2.5rem;}
    }

    &-nav{
        height: 50vh;
        width: 0;
        position: fixed;
        top: 0;
        // right: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        transform-origin: right;
        transition: all ;
        transition-delay: .3s;
    }
    &-list{
        float: right;
        margin-right: 18rem;
        margin-top: 14rem;
        list-style: none;
        @media only screen and (max-width:$bp-small) {margin-right: 10rem; margin-top: 5rem;}
    }
    &-item{
        // margin: .5rem;
    }
    &-link{
        &:link,
        &:visited{
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 700;
            color: white;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%,white 50%);
            background-size: 270%;
            transition: all .5s;
            span{
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        &:hover,
        &:active{
            background-position: 100%;
            color: $color-primary-dark ;
            transform: translateX(-1rem);
        }
    }

    &-checkbox:checked ~ &-background{
        transform: scale(17);
        @media only screen and (max-width:$bp-small) {transform: scale(11);}
    }
    &-checkbox:checked ~ &-nav{
        opacity: 1;
        width: 100%;
    }

    &-icon{
        position: relative;
        margin-top: 3.5rem;
        margin-left: 2rem;
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: gray;
            display: inline-block;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::after{top: .8rem;}
        &::before{top: -.8rem;}
    }

    &-btn:hover &-icon::before{
        top: -1rem;
    }
    &-btn:hover &-icon::after{
        top: 1rem;
    }

    &-checkbox:checked + &-btn &-icon{
        background-color: transparent;
    }

    &-checkbox:checked + &-btn &-icon::before{
        transform: rotate(135deg);
        top: 0;
    }

    &-checkbox:checked + &-btn &-icon::after{
        transform: rotate(-135deg);
        top: 0;
    }
}





















// .header{
//     // background-color: $color-grey-dark-1;
//     background-image: linear-gradient(rgba($color-secondary,.9),rgba($color-secondary,.9)) , url(../img/hero.jpeg);
//     background-position: center;
//     background-size: cover;
//     padding: 8rem;
//     grid-column: full-start/col-end 6;
//     @media only screen and (max-width:$bp-medium) {
//         grid-column: full-start/full-end;
//         background-attachment: fixed;
//         padding:8rem 6rem;
//     }
//     @media only screen and (max-width:$bp-smaller) {padding:6rem 4rem;}
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     h3{font-style: normal;}
//     &-logo{
//         height: 3rem;
//         align-self: center;
//     }
//     &-brands{
//         display: flex;
//         justify-content: space-around;
//         img{
//             max-height: 2.3rem;
//             max-width: 100%;
//             filter: opacity(.7);
//             @media only screen and (max-width:$bp-smaller) {max-height: 1.5rem;}   
//         }
//     }
//     &-seenon-text{
//         margin-bottom: 1.5rem;
//         display: flex;
//         justify-content: space-between;
//         font-size: 1.7rem;
//         font-weight: 200;
//         color: $color-grey-light-2;
//         &::before,
//         &::after{
//             transform: translateY(1.5rem);
//             content: "";
//             width: 43%;
//             height: 1px;
//             display: block;
//             background-color: currentColor;
//             z-index: 20;
//             @media only screen and (max-width:$bp-smaller) {width: 38%;}
//         }
//     }
// }